
.graph-container {
  position: absolute;
  top : 25%;
  left : 25%;
  scale: 1.5;
  padding-left: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}

.go-back-button {
  position: absolute; 
  top: 85%; 
  left: 5%; 
  color: black; 
  font-size: 25px; 
  }
  
  .go-back-button:hover {
    background-color: white; 
  }
  
  